body{
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 100px 0;
    
}
.hero {
    padding: 100px 0;
    text-align: center;
    height: 80vh;
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: #fff;
    font-size: 5em;
    margin-bottom: 20px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.hero p{
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.card-img-container {
  height: 220px;          /* choose any consistent size */
  overflow: hidden;
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;       /* keeps aspect ratio & fills */
  object-position: center; /* centers the image */
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
